!!!
%html
  %head
    %link{:rel => :stylesheet, :href => '/stylesheets/index.css'}    
    %title Hello Liz

  %body
    .main
      %h1 Thank you!
      %label
        %span 
          %a{:href => '/'} New Form